---
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Password Generator</title>
	</head>
    <script>
    const display = document.getElementById("password");
    const wrapper = document.getElementById("box")
    const response = await fetch("/words.txt");
    if (!response.ok) {
        throw new Error(`Error!: ${response.status}`);
    }
    const file = await response.text();
    const words = file
        .split("\n")
    .filter((word) => word.trim() !== "");
    let password = ""
    for (let i = 0; i < 5; i++) {
        const randomWord = Math.floor(Math.random() * words.length);
        password += words[randomWord] + " " 
    }
    display.textContent = "•".repeat(password.length)
    display.style.setProperty("color", "#ffffff")
    wrapper.style.setProperty("border-color", "#ffffff")
    wrapper?.addEventListener("mouseenter", () => {
        display.textContent = password
    })
    wrapper?.addEventListener("mouseleave", () => {
        display.textContent = "•".repeat(password.length)
    })
    wrapper?.addEventListener("mousedown", () => {
        navigator.clipboard.writeText(password)
        display.style.setProperty("color", "#83c472")
        wrapper.style.setProperty("border-color", "#83c472")
        display.textContent = "Copied to clipboard..."
        setTimeout(() => {
            display.style.setProperty("color", "#ffffff")
            wrapper.style.setProperty("border-color", "#ffffff")
            if (wrapper.matches(":hover")) {
                display.textContent = password
            } else {
                display.textContent = "•".repeat(password.length)
            }
        }, 1000)
    })
    document.addEventListener("keydown", (event) => {
        if (event.code == "Space") {
            display.style.setProperty("color", "#8672c4")
            wrapper.style.setProperty("border-color", "#8672c4")
            display.textContent = "Reloading..." 
            setTimeout(() => {
                location.reload()
            }, 500)
        }
    })
    </script>
    <body class="bg-black flex justify-center align-middle min-h-svh font-display font-bold">
        <div id="box" class="m-auto pt-[4rem] pb-[4rem] min-w-[50%] max-w-[90%] pl-[6rem] pr-[6rem] border-2 border-[#7289c4] rounded-2xl flex flex-col
            hover:cursor-pointer hover:scale-105 active:scale-95 transition-transform duration-150 ease-in hover:ease-out
            ">
            <span id="password" class="text-[#7289c4] text-3xl text-center transition-colors duration-150 ease-in hover:ease-out overflow-clip">Generating...</span>
            <span class="text-slate-700 text-md w-full text-center mt-[1rem]">[click] to copy | [hover] to view | [space] to reload</span>
        </div>
    </body>
</html>
